*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.btn{
    width:350px;
    display:flex;
    justify-content: space-evenly;
    margin-bottom:40px;
}

button{
    font-size: 2rem;
    background-color: hsla(0, 0%, 40%);
    padding:6px 15px;
    border-radius:5px;
    border:none;
    color:white;
    box-shadow:2px 6px 10px rgba(0,0,0,0.3) 


}

#on{
    background-color: hsl(120, 70%, 40%,0.9);
    color:white;
    font-weight: 550;
    cursor: pointer;
    
}

#off{
    background-color:  hsla(0, 90%, 50%, 0.9);
    color:white;
    font-weight: 550;
    cursor: pointer;
}

#on:hover{
    background-color:   hsla(120, 87%, 31%, 0.9);
}
#on:active{
    background-color:   hsla(120, 88%, 27%, 0.9);

}

#off:hover{
    background-color:  hsla(0, 89%, 37%, 0.9);
}

#off:active{
    background-color:  hsla(0, 90%, 31%, 0.9);
}

  

 
 